[submodule "public"]
	path = public
	url = git@github.com:maciejkula/maciejkula.github.io.git
	branch = master
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = git@github.com:maciejkula/hugo-xmin.git
